<div class="banner-area"> 
    <div class="content-area">
<div class="container p-5 text-center">
<h1>Bienvenidos a Escalofrio</h1>
<p>Leyendas y relatos de Latinoamerica</p>


<figure class="text-center">
    <blockquote class="blockquote">
      <p>"Los monstruos son reales y los fantasmas también. Viven dentro de nosotros y algunas veces son los que ganan"</p>
    </blockquote>
    <figcaption class="blockquote-footer">
       <cite title="Source Title" class="text-cite">Stephen King</cite>
    </figcaption>
    </figure>
  </div>
</div>  
</div>


<div class="text-center mt-5 mb-5">  
  <div class="card-body">
    <h5 class="card-title">Cuando nuestros miedos se vuelven parte de nuestra curiosidad</h5>
    <p class="card-text">Desde la Antigüedad el ser humano ha tenido la curiosidad de saber que pasa después de que morimos, ¿existira otra vida despues de morir? ¿reencarnación? o simplemente algunos se niegan a desaparecer y se quedan en este mundo por que tienen cosas inconclusas por una muerte violenta e inesperada, otros por el ser amado se niegan a abandonarnos o peor aún simplemente por venganza sea cual fuere el motivo las leyendas y mitos nacen a partir de nuestra curiosidad y miedos y van pasando de generación en generación.
       Bienvenido a esta página donde estaré publicando las leyendas y mitos más populares de Latinoamerica.</p>
  </div>
</div>


<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag("imagenes/munecos.jpeg", class: "d-block w-100")%>  
    </div>
    <div class="carousel-item">
      <%= image_tag("imagenes/asylum.jpeg", class: "d-block w-100")%>  
    </div>
    <div class="carousel-item">
      <%= image_tag("imagenes/asylum2.jpeg", class: "d-block w-100")%>  
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
