<div class="banner-area"> 
    <div class="content-area">
<div class="container p-5 text-center">
<h1>Bienvenidos a Escalofrio</h1>
<p>Las leyendas mas famosas de Latinoamerica</p>


<figure class="text-center">
    <blockquote class="blockquote">
      <p>"Los monstruos son reales y los fantasmas también. Viven dentro de nosotros y algunas veces son los que ganan"</p>
    </blockquote>
    <figcaption class="blockquote-footer">
       <cite title="Source Title">Stephen King</cite>
    </figcaption>
  </figure>


</div>
</div>
</div>



