<nav class="navbar navbar-dark bg-dark navbar-expand-lg fixed-top">
    <div class="container">
      <%= image_tag("imagenes/skull.svg", class: "logo-brand") %>
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto" id="align-right">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <!--
          <li class="nav-item">
            <a class="nav-link" href="#">Sobre Nosotros</a>
          </li>
        -->
          <li class="nav-item">
            <a class="nav-link" href="#">Contacto</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Países
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="#">México</a></li>
              <li><a class="dropdown-item" href="#">Chile</a></li>
              <li class="dropdown-item">En construcción</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>